<!DOCTYPE html>
<html lang="en">
<style>
.bg-1 {
    background-color: #FFFFFF; /* White */
    color: #000000;
}
.bg-2 {
    background-color: #B82A47; /* Brown */
    color: #ffffff;
}
.bg-3 {
    background-color: #2A47B8; /* Blue */
    color: #ffffff;
}
img {
  width: 100px;
}
</style>
<head>
 <title>Deep End Farm</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid bg-1 text-center">
 <h3>Deep End Farm</h3>
 <img src="seed.jpg" class="seed img-circle" alt="seed">
 <h3>Sustainable Small Property</h3>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About Deep End</h3>
      </div>
      <div class="panel-body">
        We're developing a healthy ecosystem.</p>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Tools for Huon Valley Producers</h3>
      </div>
      <div class="panel-body">
        We want to document our successes and failures and share them.
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Produce</h3>
      </div>
      <div class="panel-body">
        Hardly anything yet. We supply some garden produce locally.
      </div>
    </div>
  </div>
</div>
